[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask-marshmallow = "*"
python-dateutil = "*"
marshmallow-sqlalchemy = "*"
bcrypt = "*"
cffi = "*"
click = "*"
itsdangerous = "*"
marshmallow = "*"
pycparser = "*"
six = "*"
Flask = "*"
Flask-SQLAlchemy = "*"
Flask-Bcrypt = "*"
Flask-Cors = "*"
Jinja2 = "*"
MarkupSafe = "*"
SQLAlchemy = "*"
Werkzeug = "*"
psycopg2-binary = "2.7.7"

[requires]
python_version = "3.8"
